@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --radius: 10px;
  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255%, 255%, 255%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --primary: 228 9% 11%;
    --background: 240 10% 3.9%;
    --background-start-rgb: 17, 17, 17;
    --background-end-rgb: 38, 39, 44;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 255%, 255%, 255%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
  }
}

* {
  border-color: hsl(var(--border));
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

header {
  padding: 0;
  margin: 0;
  background-color: hsla(0, 0%, 7%, 0.72);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border-bottom: 1px solid rgba(99, 99, 99, 0.302);
}

.test {
  background-color: hsla(30,0,100,0.15);
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-cols-18 {
  grid-template-columns: repeat(18, minmax(0, 1fr));
}

.launcher-bottom {
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  padding-top: 8px;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.launcher-bottom::after {
  content: "";
  position: absolute;
  background-color: rgba(10, 10, 10, 0.82);
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  height: 105px;
  bottom: -10px;
  left: -16px;
  right: -16px;
  z-index: -3;
}

.inbox-item {
  transition: opacity .4s ease 0s;
}

.inbox-item:hover {
  background: radial-gradient(80rem circle at 11px 19px ,hsla(0,0%,100%,.16),transparent);
}

.inbox-icon-skelly {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  padding: 0;
  background-color: #817d7d34;
}
